<%= form_with(model: location_record) do |form| %>
  <% if location_record.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(location_record.errors.count, "error") %> prohibited this location_record from being saved:</h2>

      <ul>
        <% location_record.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
