<h1>Editing location record</h1>

<%= render "form", location_record: @location_record %>

<br>

<div>
  <%= link_to "Show this location record", @location_record %> |
  <%= link_to "Back to location records", location_records_path %>
</div>
